In [ ]:
# Titel: ETL processen en FAIR principes
# Auteur: Sander van Linschoten
# Beschrijving: Dit notebook bevat een analyse van een dataset met orderinformatie

In [1]:
# Bibliotheken importeren
import pandas as pd
import numpy as np

In [2]:
# Dataset inladen en eerste paar rijen bekijken
df = pd.read_csv('Orders.csv')
df.head()

   OrderID  ProductID  CustomerID   OrderDate     Price  Quantity
0        1       2201           1  2017-12-02    41.905         1
1     1002       5205          41  2017-12-02    33.900         3
2     1002     102181          41  2017-12-02  1652.860         3
3     1003       2213          77  2017-12-02    48.510         3
4     1003       5402          77  2017-12-02    13.780         3

In [3]:
# Gemiddelde berekenen van de kolom 'Price'
gemiddelde = df['Price'].mean()
print ("Gemiddelde van de kolom 'Price':", gemiddelde)

Gemiddelde van de kolom 'Price': 538.1734269815419

In [4]:
# Mediaan berekenen van de kolom 'Price'
mediaan = df['Price'].median()
print("Mediaan van de kolom 'Price':", mediaan)

Mediaan van de kolom 'Price': 53.9

In [5]:
# De minimale en maximale prijs berekenen van de kolom 'Price'
min_prijs = df['Price'].min()
max_prijs = df['Price'].max()
print("Minimale prijs:", min_prijs)
print("Maximale prijs:", max_prijs)

Minimale prijs: 4.05
Maximale prijs: 2939.85

In [6]:
# Percentielen en interkwartielafstand berekenen
kwartiel_25 = df['Price'].quantile(0.25)
kwartiel_50 = df['Price'].quantile(0.50)
kwartiel_75 = df['Price'].quantile(0.75)
print("25e percentiel:", kwartiel_25)
print("50e percentiel (mediaan):", kwartiel_50)
print("75e percentiel:", kwartiel_75)

25e percentiel: 21.9
50e percentiel (mediaan): 53.9
75e percentiel: 764.85